<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RtspClient.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EDC4E8D4E76495FA95A1D8436239455CF8426669</string>
				<key>dateExpires</key>
				<string>25/03/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N47KSZ55L9.org.harischandra.sample.RtspClient</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N47KSZ55L9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>N47KSZ55L9.org.harischandra.sample.RtspClient</string>
				</array>
			</dict>
			<key>name</key>
			<string>RtspClient.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd3e748f-1da5-4f37-b314-5ceaafc1a9bd</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N47KSZ55L9</string>
				<key>name</key>
				<string>Harischandra Prasad Tirumani</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
